* {
    font-family:arial,helvetica, sans-serif;
}

#main_body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fail_message {
    color: rgb(230, 77, 77);
}

.submit_button {
    width: 100%;
    background-color: white;
    color: darkslategrey;
    padding: 5%;
    margin-top: 5%;
    border-radius: 12px;
}

.login_form_container {
    width: 100%;
}

.input_field {
    background-color: white;
    color: black;
    padding: 4%;
    margin-top: 5%;
    border-radius: 10px;
    border: none;
    width: 100%;
    outline: none;
}

.toastStyle {
    top: 50%;
};

#logo_login {
    width: 40%;
}

.pure_center {
    display: flex;
    justify-content: center;
}

#dev {
    color: #05acf4;
    font-size: 40px;
}

#games {
    font-size: 40px;
}

.linear {
    display: flex;
    flex-direction: row;
}

.flexcenter {
    justify-content: center;
}