.background {
    background-color: black;
}

.panel1 {
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    height: fit-content;
    /*border-bottom: 2px solid #bdbec1;*/


    position: flex;
    justify-content: center;
}

#gamename {
    color: white;
    font-family:arial,helvetica, sans-serif;
    font-size: 30px;
}

#rating {
    color: #bdbec1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#releasedate {
    color: #646464;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: flex;
    margin-top: 0.9%;
    height: fit-content;
}

.titleblock {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    padding-top: 1%;
    padding-bottom: 2%;
}

.panel2 {
    padding-right: 0;
    width: 95%;
    padding-left: 4%;
    margin-right: 0%;
    max-width: 100%;
    display: flex;
}

li {
    color: #f6f6f6;
    list-style: none;
}

.pagetype {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    padding-right: 4%;
    border-bottom: 2px solid #bdbec1;
    padding-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.pagetype > img {
    width: 13mm;
    padding-right: 2mm;
}

#pageheader {
    font-size: 35px;
    height: fit-content;
    margin-top: 0.4%;
    width: fit-content;
}

#genre {
    width: 100%;
    margin-top: 2%;
}

#genres {
    font-size: 25px;
    height: fit-content;
    color: white;
}

.data th {
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    padding-right: 5mm;
}

.data {
    max-width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.data td {
    color: #bdbec1;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5mm;
    width: 50%;
}

.metadata > div > p {
    margin-top: 0;
    margin-bottom: 0%;
    margin-left: 3%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #bdbec1;
}

#developer {
    font-size: 25px;
    height: fit-content;
    color: white;
}

#test {
    display: flex;
    justify-content: center;
}

.gamelink {
    color: #bdbec1;
    transition: color 250ms;
}

.gamelink:hover {
    color: white;
    ;
}

/*/////////////////////////*/

.tooltip .tooltiptext {
    font-size: 30px;
    visibility: hidden;
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    text-align: center;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    font-family: Arial, Helvetica, sans-serif;

  }
/*/////////////////////////*/

.gamecard {
    width: 100%;
    margin-left: 5%;
    margin-bottom: 5%;
    height: fit-content;
    background-color: #202020;
    border-radius: 12px;
    position: flex;
}

.metadata {
    width: 90%;
    height: fit-content;
    padding-right: 7%;
    padding-left: 7%;
}

.vl {
    border-left: 3px solid #bdbec1;
    height: 2cm;
    padding-right: 5mm;
}   

#dev {
    color: #05acf4;
    text-shadow:  0px 0px 30px;
}

#pagename {
    size: 60px;
    color: #bdbec1;
    padding-left: 2cm;
    opacity: 0.8;
}

#tipheader {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 3%;
    margin-left: 5%;

}

#tiprating {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #646464;
}

h1 {
    color: #f6f6f6;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.center a {
    height: 1cm;
    margin-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.searchbox input {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 1cm;
    height: 40px;
    border-radius: 12px;
    width: 100%;
    outline: none;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: none;
}

.searchbox {
    width: 50%;
}

.navbar div {
    margin-bottom: 3mm;
    margin-top: 3mm;
}

.navbar {
    height: fit-content;
    border-top: 2px solid #bdbec1;
    border-bottom: 2px solid #bdbec1;
    margin-top: 2%;
    position: -webkit-sticky;
    position: sticky;
    top: 2%;
}

.navbar-item {
    text-decoration: none;
    color: #646464;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#trending {
    color: #22b4e5;
}

#newReleases {
    color: #22b4e5;
}

#topRated {
    color: #22b4e5;
}

#featured {
    color: #22b4e5;
}

#trendingicon {
    text-shadow: 2px 2px 5px white;
}

.linear img {
    padding-right: 3mm;
}

.navbar-item:hover {
    color: white;
    transition: color 300ms;    
}

.test {
    display: inline;
}

.mainpage {
    max-width: 75%;
    margin-top: 2%;
}

.smallcard {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.linear {
    display: flex;
    flex-direction: row;
}

.logo img {
    width: 2cm;
    padding-right: 5mm;
}

.filter select{
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 12px;
    margin-left: 80%;
    color: #646464;
}

.filter select:hover {
    transition: background-color 250ms;   
    cursor: pointer; 
}

.gameimage > img {
    border-radius: 12px;
    height: auto;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.bio {
    text-align: justify;
}

.video {
    border-radius: 12px;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
